.title {
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5em;
    font-weight: 700;
    color: red;
    text-align: center;
    margin-top: 10rem;
    padding: 0;
    text-shadow: 0 1px 0 rgba(0,0,0,0.4);
    text-transform: uppercase;
}

.info {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    color: red;
    text-align: center;
    margin-top: 1rem;
    padding: 0;
    text-shadow: 0 1px 0 rgba(0,0,0,0.4);
    text-transform: uppercase;
}

.prducts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.prducts h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    color: red;
    text-align: center;
    margin-top: 1rem;
    padding: 0;
    text-shadow: 0 1px 0 rgba(0,0,0,0.4);
    text-transform: uppercase;
}

.prducts ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
}

.prducts li {
    list-style: none;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid red;
    border-radius: 5px;
    width: 300px;
    height: 300px;
    text-align: center;
}

.contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.contato h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    color: red;
    text-align: center;
    margin-top: 1rem;
    padding: 0;
    text-shadow: 0 1px 0 rgba(0,0,0,0.4);
    text-transform: uppercase;
}

.contato p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: 300;
    color: red;
    text-align: center;
    margin-top: 1rem;
    padding: 0;
    text-shadow: 0 1px 0 rgba(0,0,0,0.4);
    text-transform: uppercase;
}